  html {
      scroll-behavior: smooth;
  }

  body {
      font-family: "Inter", sans-serif;

  }

  @keyframes fadeInLeft {
      from {
          opacity: 0;
          transform: translateX(-50px);
      }

      to {
          opacity: 1;
          transform: translateX(0);
      }
  }

  @keyframes fadeInRight {
      from {
          opacity: 0;
          transform: translateX(50px);
      }

      to {
          opacity: 1;
          transform: translateX(0);
      }
  }

  .animate-fadeInLeft {
      animation-name: fadeInLeft;
      animation-fill-mode: forwards;
  }

  .animate-fadeInRight {
      animation-name: fadeInRight;
      animation-fill-mode: forwards;
  }